body {
  text-align: center;
  background-color: rgb(255, 247, 176);
}

.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.MuiFormLabel-root:focus {
  color: Green !important;
}

.addicon {
  color: green;
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.eachitems {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.eachitems span {
  font-weight: 700;

}

.Deleteicon {
  color: rgb(0, 128, 255);
  font-size: 25px;
  cursor: pointer;
}

.css-i44wyl {
  width: 50%;
}

.css-1h48b3 {
  width: 50%;
  background-color: black !important;
  color: #ffffff !important;
  border: none !important;
}

.css-1h48b3:hover {
  border: none !important;
  background-color: rgb(72, 71, 71) !important;
}

.MuiFormLabel-root {
  color: rgb(0, 128, 255) !important;
}