body {
  text-align: center;
  background-color: #333;
}

.header {
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  width: 100%;
  /* background-color: red ; */
  align-items: center;
  justify-content: center;
}



.basic{
  /* background-color: red; */
  width: 65%;
  border-bottom: 1px solid black;
  /* color: white !important; */
}

.MuiFormLabel-root:focus {
  color: Green !important;
}

.addicon {
  color: green;
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.todoitems {
  /* background-color: bisque; */
  margin: 0 auto;
  width: 60%;
}
.eachitems {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: lightgray;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.eachitems_sub{
  width: 80%;
}

.eachitems_sub > p{
 word-wrap: break-word;
 text-align: left;
 padding-left: 10px;

}

.icons {
  /* background-color: #090e09; */
  display: flex;
  width: 20%;
  margin-right: 5px;
  justify-content: space-between;
  height: fit-content;
  /* padding: 10px; */
}

.Deleteicon {
  color: #c4361d;
  font-size: 25px;
  cursor: pointer;
}

.Done {
  color: #088108;
  font-size: 25px;
  cursor: pointer;
}

.Edit {
  color: #0080ff;
  font-size: 25px;
  cursor: pointer;
}

.eachitems > li {
  list-style: none;
}

.checked {
  text-decoration: line-through;
}

.disabled {
  pointer-events: none;
}

.css-i44wyl {
  width: 50%;
}

.css-1h48b3 {
  width: 50%;
  background-color: black !important;
  color: #ffffff !important;
  border: none !important;
}

.css-1h48b3:hover {
  border: none !important;
  background-color: rgb(72, 71, 71) !important;
}

.MuiFormLabel-root {
  color: rgb(0, 128, 255) !important;
}
